
<h1>Camps</h1>

<div class="container_12">
  <div class="grid_8" >
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camps", locals: { status: "Upcoming", camps: @upcoming_camps } %>
    <p>&nbsp;</p>
      </div>
  <div class="grid_3 push_1" >
    <%= render :partial => "camps", locals: { status: "Past", camps: @past_camps } %>
    <br />
    <%= link_to "Add a new camp", new_camp_path, class: "button tiny radius" %>
  </div>


  <div class="grid_6" >
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render :partial => "inactive_camps" %>

</div>