<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'camp_instructors' %>

  <% if logged_in? && (current_user.role?(:admin) ||  current_user.role?(:instructor))%>
    <% if @camp.registrations.size < @camp.max_students %>
        <%= render partial: 'registration_form' %>
    <% else%>
        <h3> Cannot Register Any More Students</h3>


  <% end %>
    <br></br>
    <%= render partial: 'camp_students' %>
    <% end %>

  </div>


</div>