<div class="container_12">
  <div clas= "grid_8" id = "content">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "instructor_details" %>
  </div>

  <div class="grid_1">
    &nbsp;
  </div>

  <div class="grid_3">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'instructor_camps' %>
  </div>
</div>