<!-- <div class="container_12">




<div class="grid_10">
  <h2>Welcome To A&amp;M Chess Camp</h2>
<p>The A &amp; M 
  Chess Camps are the finest chess camps in the United States (<em>we concede 
  Russia can do better, but not much better</em>) and guaranteed to 
  <strong>transform your son or daughter into a tiger at the chess board</strong>.  
  The links below will tell you more about our camps, curriculums and 
  instructors and in the future will actually allow you to register your son 
  or daughter for those camps. 
</p>
<p>If you are an administrator (don't lie), <%= link_to "click here to review camps.", camps_path %></p>



<%= image_tag 'AlexPlaying10.jpg', class: "center", width: "960" %> 
</div>
</div> -->